{% extends 'loan_back/home.html' %}{% load static %}

  {%block content %}
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>sigh in</title>
   <style>
  #profileImage {
    width: 150px;
      height: 150px;
  border-radius: 50%;
  background: black;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  margin-left: 2em;
}
   </style>
  </head>

  <body>
    <!-- Start your project here-->
    <section style="background-color: #eee">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img
                 src="{% static '/img/default.png' %}" 
                  alt="avatar"
                  class="rounded-circle img-fluid"
                  style="width: 150px"


               />

             
                <h5 class="my-3">{{request.user.email}}</h5>
                <p class="text-muted mb-1">{{request.user.username}}</p>
                <p class="text-muted mb-4">{{request.user.address}}</p>
                <div class="d-flex justify-content-center mb-2">
                 <a href="/logout"> <button type="button" class="btn btn-primary">logout</button></a>
                  <!-- <button type="button" class="btn btn-outline-primary ms-1">
                    update profile
                  </button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">fullname</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                     {{request.user.username}}  {{request.user.lastname}}

                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{request.user.email}}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{request.user.phone}} 
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{request.user.address}} 
                    </p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">date joined</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{request.user.created_at}} 
                    </p>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">id number</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      {{request.user.idnumber}} 
                    </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End your project here-->


  </body>
  {%endblock%}
</html>
